@page "/counter"
@inject IJSRuntime js
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (Data is { })
{
    <object data="@pdfContent" width="500" height="600"></object>
}

@code {
    private int currentCount = 0;

    byte[] Data;
    string pdfContent = "";

   

    private async Task IncrementCount()
    {
        currentCount++;
        iTextSharpBlazor.Reportes.CobrosReport cobros = new Reportes.CobrosReport();

        Data = cobros.Reporte();

        pdfContent = "data:application/pdf;base64,";
        pdfContent += System.Convert.ToBase64String(Data);

        //await js.InvokeVoidAsync("SaveAsFile", "Reporte de Clientes.pdf", Convert.ToBase64String(cobros.Reporte()));


    }
}
